ion-content {
  ion-card {
    margin: 5px 16px;
    box-shadow: none; // Rimuove l'ombra
  }

  pre {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    white-space: pre-wrap; // Per andare a capo correttamente
  }

  audio {
    width: 100%;
    max-width: 600px;
  }
}

ion-toolbar {
  --background: #ff8800; // Colore arancione simile
  --color: white;
}

$background-color: #f5f5f5;
$border-radius: 8px;
$text-font: "Arial", sans-serif;
$font-size: 1.5rem;
$line-height: 1.6;
$strong-color: #333;
$em-color: #555;
$first-p-color: #000;
$last-p-margin-bottom: 0;

::ng-deep ion-card {
  box-shadow: none !important; /* Rimuove l'ombra */
}

::ng-deep .lyrics-container p {
  font-size: inherit;
  line-height: inherit;
  margin-bottom: inherit;
  color: #000;
}

::ng-deep .card-content-ios {
  -webkit-padding-start: inherit;
  padding-inline-start: inherit;
  -webkit-padding-end: inherit;
  padding-inline-end: inherit;
  padding-top: inherit;
  padding-bottom: inherit;
  font-size: inherit;
  line-height: 1.4;
}

ion-content {
  background-color: #ffffff !important; /* White background */
  color: #000000 !important; /* Black text */
}

::ng-deep .lyrics-container {
  background-color: #ffffff; /* Ensure lyrics container background is white */
  color: #000000; /* Ensure text color is black */
}

::ng-deep ion-card {
  background-color: #ffffff; /* Card background white */
  color: #000000; /* Text color black */
}

::ng-deep .zoom-controls ion-button {
  background-color: #ffffff !important; /* Button background */
  color: #000000 !important; /* Button text color */
  border: 1px solid #000000; /* Optional: border for visibility */
}


.song-title-container {
  font-weight: 500;
}
.song-detail-container {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 86vh;

  .lyrics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $border-radius;
    white-space: pre-wrap; /* Ensures newlines are rendered properly */
    height: 90%;
    overflow: scroll;
    p {
      font-family: $text-font;
      line-height: $line-height;
      margin-bottom: 10px;

      strong {
        font-weight: bold;
        color: $strong-color;
      }

      em {
        font-style: italic;
        color: $em-color;
      }

      &:first-child {
        color: $first-p-color;
      }

      &:last-child {
        margin-bottom: $last-p-margin-bottom;
      }
    }
  }
  .player-container {
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .zoom-controls {
    display: flex;
    justify-content: flex-end;
    z-index: 10;
    padding: 1rem 0;
    ion-button {
      font-size: 1.2rem;
      margin-left: 5px;
    }
  }
}
