<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ user?.name?user?.name: "-" }} {{ user?.surname?user?.surname: "-" }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <p>{{ user?.email?user?.email: "-" }}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="logout()">Logout</ion-button>
</ion-content>