<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inni CEANGI</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle" slot="icon-only" routerLink="/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange)="segmentChanged($event)" value="apps">
    <ion-segment-button value="apps">
      <ion-label>APPS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="anuncios">
      <ion-label>ANUNCIOS</ion-label>
    </ion-segment-button>
    <ion-segment-button value="eventos">
      <ion-label>EVENTOS</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ng-container *ngIf="selectedSegment === 'apps'">
    <ion-list>
      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/santa_biblia.png" />
        </ion-avatar>
        <ion-label>
          <h2>SANTA BIBLIA DIGITAL</h2>
          <p>Reina Valera 1960</p>
        </ion-label>
      </ion-item> -->

      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/himnario.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>HIMNARIO DIGITAL</h2>
          <p>Manantial de Bendición</p>
        </ion-label>
      </ion-item> -->

      <ion-item routerLink="/corario">
        <ion-avatar slot="start">
          <img src="assets/imgs/corario_digital.png" />
        </ion-avatar>
        <ion-label>
          <h2>CORARIO DIGITAL</h2>
          <p>Coros Apostólicos</p>
        </ion-label>
      </ion-item>


      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/corario_infantil.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>CORARIO INFANTIL</h2>
          <p>Coros y Dinámicas</p>
        </ion-label>
      </ion-item> -->

      <!-- <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/directorio.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>DIRECTORIO DIGITAL</h2>
          <p>Congregaciones - Ecuador.</p>
        </ion-label>
      </ion-item> -->
    </ion-list>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'anuncios'">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Anuncio 1</h2>
          <p>Detalles dell'annuncio 1</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Anuncio 2</h2>
          <p>Dettagli dell'annuncio 2</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="selectedSegment === 'eventos'">
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Evento 1</h2>
          <p>Dettagli dell'evento 1</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Evento 2</h2>
          <p>Dettagli dell'evento 2</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>