<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" text="Indietro"></ion-back-button>
    </ion-buttons>
    <ion-title>Corario Digital</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle" slot="icon-only" routerLink="/profile"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange)="segmentChanged($event)" value="coros">
    <ion-segment-button value="coros">
      <ion-label>Coros</ion-label>
    </ion-segment-button>
    <ion-segment-button value="notas">
      <ion-label>Notas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ng-container *ngIf="selectedSegment === 'coros'">
    <ion-grid>
      <ion-row>
        <!-- Alphabetical filter panel -->
        <ion-col size="2">
          <ion-list class="alphabet-list">
            <ion-item>
              <ion-icon name="heart" [color]="showFavorites ? 'danger' : 'medium'"
                (click)="showFavorites = !showFavorites"></ion-icon>
            </ion-item>

            <ion-item *ngFor="let letter of alphabet" (click)="filterByLetter(letter)">
              <ion-label>{{ letter }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col size="10">
          <!-- Search bar -->
          <div class="search-container">
            <ion-searchbar [(ngModel)]="searchTerm" placeholder="Cerca titolo"></ion-searchbar>
            <ion-button size="small" (click)="clearFilters()">
              <ion-icon slot="start" name="refresh"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isModeratorOrAdmin" size="small" (click)="goToInsertSong()">
              <ion-icon slot="start" name="add"></ion-icon>
            </ion-button>
          </div>

          <!-- Reset filters button -->

          <div class="displayed-song-container">
            <span>{{ displayedSongs.length }} coros</span>
          </div>
          <!-- Songs list -->
          <ion-list class="song-list" *ngIf="displayedSongs.length > 0; else noItemsMessage">
            <ion-item *ngFor="let song of displayedSongs">
              <ion-icon name="heart" slot="start" [color]="song.isFavorite ? 'danger' : 'medium'"
                (click)="toggleFavorite(song)"></ion-icon>
              <ion-label (click)="openSongDetails(song)">
                <div> <span class="index">{{ song.index }}. </span> <span class="title">{{ song.title }}</span> </div>
              </ion-label>
               <ion-icon *ngIf="isModeratorOrAdmin" name="create" slot="end" color="primary" (click)="editSong(song)"></ion-icon>
              <!-- <ion-icon name="trash" slot="end" color="danger" (click)="presentDeleteConfirmation(song)"></ion-icon> -->
            </ion-item>
          </ion-list>

          <!-- Template for empty state -->
          <ng-template #noItemsMessage>
            <div class="no-items-message">
              <p>Non ci sono elementi disponibili.</p>
            </div>
          </ng-template>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>